@import url("https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Seymour+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @tailwind screens;
  .bar {
    @apply hidden;
  }

  .active {
    @apply bg-[#13141C] ml-3  text-white;
  }

  @media screen and (max-width: 1866px) {
    .bars {
      @apply hidden;
    }
    .layout {
      @apply flex h-screen w-screen flex-row overflow-hidden;
    }

    .sidebar {
      @apply flex flex-col relative pt-[4rem] w-[13rem] h-full;
    }

    .logo {
      @apply flex items-center justify-center h-[5rem] ml-6;
    }

    .menu {
      @apply mt-[4rem] flex flex-col gap-2 ml-1 text-[#9498BB];
    }

    .menu-item {
      @apply flex items-center rounded-r-xl pl-5 py-5 gap-3 h-[2.5rem] cursor-pointer relative transition-all duration-300 ease-in-out text-[14px];
    }
    .active::before {
      content: "";
      margin-right: calc(1rem - 26px);
    }
  }
  @media screen and (max-width: 1200px) {
    .bars {
      @apply hidden;
    }
    .layout {
      @apply flex h-screen w-screen flex-row overflow-hidden;
    }

    .sidebar {
      @apply flex flex-col relative pt-[6rem] w-[8rem];
    }

    .menu-item {
      @apply flex items-center rounded-r-xl pl-3 py-6 gap-3 h-[2.5rem] cursor-pointer relative  text-[14px];
    }
    .active {
      @apply bg-[#13141C] ml-0 text-white;
    }
    .span {
      display: none;
    }

    .logo {
      @apply flex;
    }
    .active::before {
      content: "";
      margin-right: calc(1rem - 18px);
    }
  }
  @media screen and (max-width: 768px) {
    .sidebar {
      position: fixed;
      z-index: 10;
      background-color: #232533;
      width: 12rem;

      height: 100%;
    }
    .span {
      @apply flex;
    }

    .bars {
      display: flex;
      position: fixed;
      top: 6rem;
      left: 10rem;

      background-color: #232533;
      padding: 10px;
      border-radius: 10px;
      z-index: 50;
    }

    .logo {
      @apply flex items-center justify-center h-[5rem] ml-6;
    }

    .menu {
      @apply mt-[4rem] flex flex-col gap-2 ml-2 text-[#9498BB];
    }

    .menu-item {
      @apply flex items-center rounded-r-xl pl-5 py-5 gap-3 h-[2.5rem] cursor-pointer relative transition-all duration-300 ease-in-out text-[10px];
    }
  }
}
